<!-- styles for my resume --!>
body {
  font-family: Open Sans, sans-serif;
  font-size:1em;
  color:#444;
  font-weight: 400;
}

<!-- banner name at top --!>
h1 {
  font-size: 3em;
  color: #33485e
  text-transform: uppercase;
}

  <!-- section titles --!>
h2{
  font-size: 1.5em;
  text-transform: uppercase;
  color:white;
  font-weight: 400;
  background: #33485e;

}

  <!-- job titles --!>
h3{
  font-weight:400;
  font-size: 1.5em;
}

  <!-- job organizations --!>
h4{
  font-weight:400;
  font-size: 1.5em;
}

  <!-- job dates --!>
h5{
  font-weight:400;
  font-size: 1em;
  font: italic;

}

  <!-- items in lists --!>
li{
  font-size: 1em;
}
