body {
  font-family: Open Sans, sans-serif;
  font-size:1em;
  color:#444;
  font-weight: 400;
}

h1 {
  font-size: 3em;
  color: #33485e
  text-transform: uppercase;
}

h2{
  font-size: 1.5em;
  text-transform: uppercase;
  color:white;
  font-weight: 400;
  background: #33485e;

}
