/* styles for my resume */
BODY{
  font-family: arial,sans-serif;
  font-size:1em;
  color:#444;
  font-weight: 400;
}

text{
  font-family: arial, sans-serif;
}

  .center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 50%;
}

hero-image{
  text-align:center;
}

.top{
  width:60%;
  min-width: 300px;
  margin:0 auto;
  margin-bottom: 30px;
}
#container {
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding: 1em;
}

/* banner name at top */
#name {
  font-size:3em;
  text-transform: uppercase;
  text-align:center;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width:300px;
  margin:0 auto;
}

#title{
  color:#33485e;
  text-transform:uppercase;
  font-size:1.5em;
  margin-top:20px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  text-align: center;
  font-weight: bold;

}

/* section titles */
.sectionheader{
  font-size: 1.5em;
  text-transform: uppercase;
  color:#fff;
  font-weight: 400px;
  background: #33485e;
  margin-top: 20px;
  margin-bottom:10px;
  margin-right:0;
  margin-left:0;
  width:30%;
  min-width:300px;
}

/* job titles */
#jobtitle{
  font-weight:400;
  font-size: 1.5em;
}

/* job organizations */
#organization{
  font-weight:400;
  font-size: 1.25em;
}

/* job dates */
.date{
  font-weight:400;
  font-size: 1em;
  font-style: italic;
  margin-top:2px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;

}

.description p{
  margin-top:10px;
  margin-bottom:10px;
  margin-left:0;
  margin-right:0;
  width:60%;
  min-width: 300px;
  margin:0 auto;
  margin-bottom: 30px;
}

footer{
  margin-top:30px;
}

/* items in lists */
.menu {
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  padding:0;
  text-align:center;
}

.menu li{
  display: inline;
}

#degrees{
  margin-top:5px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
}

#do{
  margin-top:5px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
}

li{
  font-size: 1em;
}
